{% extends 'base.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block stylesheets %}
    <style>
        .about__hero {
            height: 350px;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
                    url({% static 'about/images/about_hero.jpg' %}) no-repeat center/cover;"
        }


    </style>
{% endblock  %}

{% block content %}

    {% include 'navbars/default_navbar.html' %}


    <section class="py-5 about__hero justify-content-center align-content-center">
        <div class="container mx-auto">
            <h1 class="text-center text-white">About Us</h1>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2>

                        {% if section_one_details %}
                            {{section_one_details.title}}
                        {% else %}
                            It’s in our best interest–and the best interest of our suppliers, partners and customers–to ensure the organic system is held to the highest of standards.
                        {% endif %}
                    </h2>

                    <div class="border border-1 w-50"></div>
                    {% if  section_one_details %}
                        <h4>{{section_one_details.subtitle}}</h4>
                    {% else %}
                        <h4>That’s why our certified organic products are audited and assured from farm to market.</h4>
                    {% endif %}



                    {% if section_one_details %}
                        <p>{{section_one_details.desc}}</p>
                    {% else %}
                        <p>
                            Product quality and integrity measures include careful supplier selection, site visits, internal controls and product testing. We believe in the integrity of the organic system and we perform numerous checks and balances along the way to ensure you’re getting a product that meets expectations.
                        </p>
                    {% endif %}
                </div>

                <div class="col-lg-6 col-12 justify-content-end">
                    {% if section_one_details %}
                        <img src="{{section_one_details.featured_image.url}}" alt="{{section_one_details.title}}" width="100%" class="ms-auto">
                    {% else %}
                        <p>Upload image from dashboard</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-lg-6 col-12">
                    {% if section_two_details %}
                        <img width="400px" src="{{section_two_details.featured_image.url}}" alt="{{section_two_details.title}}">
                    {% else %}
                        <p>Upload picture from dashboard</p>
                    {% endif %}
                   
                </div>
                <div class="col-lg-6 col-12">
                    {% if section_two_details %}
                        <h2>{{section_two_details.title}}</h2>
                    {% else %}
                        <h2>Globe & Mail Feature</h2>
                    {% endif %}

                    <p>

                        {% if section_two_details %}
                            {{section_two_details.desc}} 
                        {% else %}
                            We are actively enhancing trust and compliance in the organic supply chain by focusing on our quality system at every step.
                        {% endif %}
                   </p>

                    <a href="{% url 'contact:contact_view' %}" class="btn btn-success btn-md">Contact us</a>
                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <div class="container">
            <h2 class="text-center">Frequently Asked Questions</h2>

            <div class="border border-1 w-25 mb-5 mx-auto"></div>


            {% if faq_list %}
                <div class="accordion accordion-flush shadow rounded-1 w-75 mx-auto" id="accordionFlushExample">
                    {% for faq in faq_list %}
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{faq.id}}" aria-expanded="false" aria-controls="flush-{{faq.id}}">
                            {{faq.title}}
                            </button>
                        </h2>
                        <div id="flush-{{faq.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {{faq.desc}}
                            </div>
                        </div>
                        </div>
                    {% endfor %}


                </div>
            
            {% else %}
                <h4 class="text-center">Add Faq from Dashboard</h4>
            {% endif %}
        </div>

    </section>
{% endblock  %}